<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#about">About</a>

  <a (click)="subscribeFlag = !subscribeFlag" href="#subscribe">Subscibe</a>
  <div class="search-container">

    <mat-form-field appearance="fill">
      <input
        matInput
        (keyup)="applyFilter($event.target.value)"
        placeholder="Filter"
      />
    </mat-form-field>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>

    <mat-label>Select an option</mat-label>
    <select (click)="applyFilter($event.target.value)">
      <option value="">none</option>
      <option value="development">development</option>
      <option value="support">support</option>
      <option value="maintainence">maintainence</option>
    </select>
  </div>
</div>


<div class="flex-container">
  <mat-card
    class="example-card flex-box"
    *ngFor="let card of obs | async | filter: searchText"
  >
    <mat-card-header *ngIf="!card.flag">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ card.title }}</mat-card-title>
      <mat-card-subtitle>{{ card.subtitle }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ card.image }}" alt="Photo of a Shiba Inu" />

    <mat-card-content>
      <p>{{ card.text }}</p>
      <p><b>Technology:</b>{{ card.technology }}</p>
    </mat-card-content>
    <mat-card-content *ngIf="card.flag">
      <p><b>POC:</b>{{ card.poc }}</p>
      <p><b>Technology:</b>{{ card.technology }}</p>
      <p><b>Domain:</b>{{ card.domain }}</p>
    </mat-card-content>
    <mat-card-actions>
      <!-- <button
        mat-button
        class="btn"
        (click)="card.flag = true"
        *ngIf="!card.flag"
      >
        Details
      </button> -->
    </mat-card-actions>
    <app-model #modal [currentCard]="current" *ngIf="!model_flag"></app-model>
    <mat-card-actions>
      <button mat-button (click)="openModal(card)" class="btn">Details</button>
      <button mat-button class="btn" *ngIf="subscribeFlag">Subscibe</button>
    </mat-card-actions>

    <a
      href="https://github.com/amitiit11/mat-paginator-with-cards-roqr91"
      target="blank"
      >url</a
    >
    <!-- <mat-card-actions>

      <button
        mat-button
        class="btn"
        (click)="card.flag = false"
        *ngIf="card.flag"
      >
        Back
      </button>
    </mat-card-actions> -->
  </mat-card>
</div>

<mat-paginator [pageSizeOptions]="[2, 4, 6, 8]"> </mat-paginator>
